:root {

	--theme-color-purple: rgb(62, 61, 63);
	--theme-color-purple-light: rgb(112, 108, 121);
	--theme-color-yellow: rgba(252, 250, 135, 0.466);
	--theme-color-yellow-light: rgb(236, 232, 91);
 	--dark-background-color: rgb(54, 54, 53);
	--background: rgb(252, 253, 237);


}

* {
	box-sizing: border-box;
}

html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: var(--background)
}

body {
	font-family: serif;
	font-size: 1.1rem;
	color: var(--theme-color-purple);
}

.width-limited {
	max-width: 55rem;

	margin-left: auto;
	margin-right: auto;
}

a {
	color: var(--theme-color-purple-light);
	text-decoration: none;
}

p {
	text-align: justify;
	color: black;
}

h1, h2, h3, h4, h5, h6
{
	color: var(--theme-color-purple-light);
	text-transform: uppercase;
}
h1 { font-size: 2rem;}
h2 { font-size: 1.75rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.0rem; }

/* Top navigation bar */
nav {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
}

a:hover, a:active {
color: var(--theme-color-purple);
text-decoration: underline;
}

/* Style of the list of links in the navbar */
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

}

/* Space between links */
nav li {
	margin-right: 3rem;
}

body {
	font-family: serif;
	font-size: 1.1rem;
	line-height:1.5;
	color: var(--theme-color-purple);
}

/* Left column */
.leftcolumn {
	float: left;
	width: 25%;
	padding-right: 20px;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 75%;
  }
  
  /* Add a card effect for articles */
  .card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Footer */
  .footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
	  width: 100%;
	  padding: 0;
	}
  }