:root {

	--theme-color-purple: rgb(62, 61, 63);
	--theme-color-purple-light: rgb(112, 108, 121);
	--theme-color-yellow: rgba(252, 250, 135, 0.466);
	--theme-color-yellow-light: rgb(236, 232, 91);
 	--dark-background-color: rgb(54, 54, 53);
	--background: rgb(252, 253, 237);

}

* {
	box-sizing: border-box;
}

.sidenav {
	height: 100%;
	margin: 0;
	width: 130px;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 10px;
	overflow-x: hidden;
	padding: 8px 0;
	background-color: var(--dark-background-color);
	color: var(--theme-color-yellow-light);
  }
  
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 15px;
	display: block;
	color: var(--theme-color-yellow-light);
  }

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: var(--background)
}

/* Default font and size */
body {
	font-family: serif;
	font-size: 1.1rem;
	color: var(--theme-color-purple);
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/
.width-limited {
	max-width: 55rem;

	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
}

/* Links: apply our theme color and remove underline */
a {
	color: var(--theme-color-purple-light);
	text-decoration: none;
}

/* Justify paragraphs */
p {
	text-align: justify;
	color: black;
}

/* Titles: set color and sizes */
h1, h2, h3, h4, h5, h6
{
	color: var(--theme-color-purple-light);
	text-transform: uppercase;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; margin-top: 1.25em; margin-bottom: 1.25em;}
h6 { font-size: 1.0rem; margin-top: 1em; margin-bottom: 1em;}


/* Top navigation bar */
nav {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
}

a:hover, a:active {
color: var(--theme-color-purple);
text-decoration: underline;
}

/* Style of the list of links in the navbar */
nav ul {
	/* Clear defaults */
	margin: 0;
	padding: 0;

	/* Remove list bullet points */
	list-style-type: none;

	/*
	Flexbox is a modern mechanism for arranging elements
		https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	This will arrange the elements in a row
	*/
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

}

/* Space between links */
nav li {
	margin-right: 3rem;
}


.box {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 1rem;

	background-color: var(--theme-color-yellow-light);

	border: 2px solid var(--dark-background-color);
	border-radius: 3px;
}


.code { font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace; }
.code,
code {
	background: rgba(135, 131, 120, 0.15);
	border-radius: 3px;
	padding: 0.2em 0.4em;
	border-radius: 3px;
	font-size: 85%;
	tab-size: 2;
	color: var(--theme-color-purple);
	padding: 1.5em 1em;
}

.code-wrap {
	white-space: pre-wrap;
	word-break: break-all;
}

.code > code {
	background: none;
	padding: 0;
	font-size: 100%;
	color: inherit;
}

table, th, td {
	padding: 5px;
	border: 1px solid;
	border-collapse: collapse;

	text-align: center;
  }

  tr:nth-child(even) {
	background-color: rgba(250, 249, 193, 0.4);
  }
  tr:nth-child(odd) {
	background-color: rgba(81, 77, 82, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
	background-color: rgba(247, 244, 94, 0.4);
  }


/* Needed ? */
.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: var(--theme-color-purple),;
}

figure embed {
	width: 100%;
}


footer {
	padding-bottom: 5rem;
}